<div class="contenedor">

  <h1>Challenge 05 - Cola de Personas</h1>

  <section class="formulario">

    <h2>Registrar persona</h2>

    <form (ngSubmit)="agregarPersona()">

      <div class="campo">

        <label for="nombre">
          Nombre
        </label>

        <input
          type="text"
          id="nombre"
          name="nombre"
          [(ngModel)]="nuevaPersona.nombre"
          placeholder="Ingrese el nombre">

      </div>


      <div class="campo">

        <label for="monto">
          Monto del retiro
        </label>

        <input
          type="number"
          id="monto"
          name="monto"
          [(ngModel)]="nuevaPersona.montoRetiro"
          placeholder="Ingrese el monto">

      </div>


      <div class="campo fecha">

        <label>
          Fecha de llegada
        </label>

        <input
          type="text"
          [value]="'Asignada automáticamente'"
          disabled>

      </div>


      <button type="submit">
        Agregar a la cola
      </button>

    </form>

  </section>


  <section class="cola">

    <div class="titulo-cola">

      <h2>Cola del cajero</h2>

      <span>
        Personas: {{ cola.size() }}
      </span>

    </div>


    @if (obtenerPersonas().length === 0) {

      <p class="vacio">
        No hay personas en la cola.
      </p>

    } @else {

      <div class="personas">

        @for (persona of obtenerPersonas(); track $index) {

          <div
            class="persona"
            [class.primero]="$index === 0">

            <div class="numero">
              {{ $index + 1 }}
            </div>


            <div class="informacion">

              <h3>
                {{ persona.nombre }}
              </h3>

              <p>
                <strong>Monto del retiro:</strong>
                ${{ persona.montoRetiro | number:'1.0-0' }}
              </p>

              <p>
                <strong>Hora de llegada:</strong>
                {{ persona.fechaLlegada }}
              </p>

              @if ($index === 0) {

                <span class="turno">
                  Próximo en ser atendido
                </span>

              }

            </div>

          </div>

        }

      </div>

    }


    <button
      class="boton-atender"
      type="button"
      (click)="atenderPersona()">

      Atender primera persona

    </button>

  </section>

</div>